version: '3.8'

networks:
  net1:
    driver: bridge
    internal: false

services:
  nginx_dep:
    # image: docker.io/nginx:1.27.0-alpine3.19-slim
    build:
      context: .
      dockerfile: ./nginx.Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${UID:-1000}
    container_name: nginx_dep
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./nginx:/etc/nginx:ro
      - ./www:/var/www
      - ./log/nginx:/var/log/nginx
    networks:
      - net1

  php_dep:
    build:
      context: .
      dockerfile: ./php.Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${UID:-1000}
    container_name: php_dep
    restart: unless-stopped
    user: '${UID:-1000}:${GID:-1000}'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./php/php.ini:/usr/local/etc/php/php.ini:ro
      - ./www:/var/www
    expose:
      - "9000"
    working_dir: /var/www
    networks:
      - net1